.imagem1 {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

h1 {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(98, 98, 98);
}

h2 {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(89, 89, 89);
}

.imagem2 {
    width: 30%;
    height: 600px;
    object-fit: cover;
    align-items: center;
}

.victor {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}


body {
    background-color: rgb(83, 83, 83);
}

.tres {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.musicas {
    background-color: black;
}

.musicas h2 {
    color: rgb(85, 85, 85);
}

.imagem3 {
    height: 600px;
    object-fit: cover;
    align-items: center;
}